<div *ngIf="loading">
  Loading...
</div>

<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" [(ngModel)]="searchTerm" placeholder="Enter the character name">
    <select class="selectBox" [(ngModel)]="selectCharacter" (change)="runQuery()">
      <option value="human" [selected]="human">Human</option>
      <option value="droid">Droid</option>
    </select>
  </div>

  <ng-container *ngIf="characters" >
    <div *ngFor="let item of characters">
      <ng-container *ngIf="!searchTerm || (searchTerm && item && item.name && item.name.toLowerCase().includes(searchTerm.toLowerCase()))" >
        <div class="card">
          <p>TYPE: <strong>{{selectCharacter}}</strong></p>
          <p>ID : <strong>{{ item.id }}</strong></p>
          <p>NAME : <strong>{{ item.name }}</strong></p>
          <p>AGE : <strong>{{ item.age }}</strong></p>
          <p>APPEARS IN<ng-container *ngFor="let episode of item.appearsIn"><p><strong>- {{episode}}</strong></p></ng-container></p>
          <p>FRIENDS:<ng-container *ngFor="let friend of item.friends"><p><strong>- {{friend.name}}</strong></p></ng-container></p>
        </div>
      </ng-container>
    </div>
  </ng-container>
  
</div>



