@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.button {
  width: 60px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 70%;
  padding-left: 10%
  
}

.selectBox {
  width: 200px;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  margin-left: 10px;
  outline: none;
  
}


.card {
  display: grid;
  grid-template-areas: "head1 head2"
                       "mid1  mid2"
                       "bottom1 bottom2"
                       "footer1 footer2";
  grid-template-rows: 30px 30px 1fr 30px;
  grid-template-columns: 1fr 1fr;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid #00B4CC;
  border-radius: 5px 0 0 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;

}